.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  background-color: #f2f5f8;
}

/* Header Styles */

header {
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0;
}

ul {
  display: flex;
  gap: 91px;
}
